<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ labels[critic.id] }}</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <h1>Critic dashboard: {{ labels[critic.id] }}</h1>
    <h2>Statistics</h2>
    <ul>
        <li>Total games reviewed: {{ critic.total_games_reviewed() }}</li>
    </ul>
    <h2>Graph</h2>
    <div style="width: 400px; height: 400px">
        <canvas id="countChart"></canvas>
        <script>
            const ctx = document.getElementById('countChart');
            new Chart(ctx, {
                type: 'bar',
                data: {
                  labels: {{ critic.stats_labels() | tojson }},
                  datasets: [{
                    label: '# of Games',
                    data: {{ critic.stats_values() | tojson }},
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
            });
        </script>
    </div>

</body>
</html>