<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wikidata Video Games Dashboard</title>
</head>
<body>
<h1>Wikidata Video Games Dashboard</h1>
<p>{{ count }} video games</p>
</body>
</html>