<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ labels[video_game.id] }}</title>
</head>
<body>
<h1>Video Game dashboard: {{ labels[video_game.id] }}</h1>
<h2>Developer(s)</h2>
<ul>
    {% for developer in video_game.developers %}
        <li><a href="/dev/{{ developer }}">{{ labels[developer] }}</a></li>
    {% endfor %}
</ul>
<h2>Reviews</h2>
<ul>
    {% for review in video_game.reviews %}
        <li>[{{ labels[review.platform] }} | {{ review.date }}] <a
                href="/critic/{{ review.reviewer }}">{{ labels[review.reviewer] }}</a> : {{ review.note }}</li>
    {% endfor %}
</ul>
</body>
</html>